.account{
    @include main-container;
    text-align: center;

    .account-options{
        padding-bottom: 10px;
        width: 300px;
        margin: 0 auto;
       
        p{
            text-align: left;
        }
        label{
            width:100%;
            margin-bottom: 15px; 
        }
        .input{
            margin-top: 3px;
            width:100%;
            padding: 13px;
            border-radius: 7px;
            border: 1px solid lighten($grey-color, 30%) ;
            color: lighten($grey-color, 10%);
        }
        .input2{
            margin-bottom: 20px;
            color: #000;
        }
        .checkbox{
            margin-top: 15px;
            background: $primary-color;
            text-align: left;
        }
        span{
            font-size: 13px;
            a{
                color: $primary-color;
                text-decoration: none;
            }
        }
        
    }

    .footer{
        position: absolute;
        bottom: 20px;
        width: 85%;

        .submit{
            @include continue-btn;    
        }
       
    }

    .footerBottom{
        width: 100%;
        margin: 20px auto;
        .submit{
            @include continue-btn;
        }
    }
}

.arrow{
    width: 90%;
    margin: 0 auto;
    a{
        position: absolute;
        font-size: 18px;
        font-weight: normal;
        top:20px;
    
            text-decoration: none;
            color:#000;
        
    }
}
.arrow2{
   @extend .arrow;
    a{
        top:-30px;
    }
}
.arrow3{
   @extend .arrow;
    a{
        top:-60px;
    }
}

.popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    background: #fff;
    text-align: center;
    box-shadow:0 0 20px 0 rgba(3, 175, 60, 0.322);
    border-radius: 10px;
    cursor: pointer;
    display: none;
    
    .tick{
        border-radius: 50%;
        border: 2px solid $primary-color;
        width:70px;
        height: 70px;
        margin: 30px auto;
        .bi{
            font-size: 40px;
            color: $primary-color;
        }
    }
    .congrats{
        margin-bottom: 80px;
        h2{
            font-size: 20px;
            font-weight: bold;
            color: $primary-color;
        }
        p{
            font-size: 13px;
        }
    }
    .congratsBtn{
        margin-bottom: 30px;
        .submit{
            width:80%;
            padding: 10px;
            background-color: $primary-color;
            color:#fff;
            border:none;
            border-radius: 6px;
            font-size: 16px;
        }
    }
}