.nav{
    @include main-container;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top:-60px;
    left: 20px;
    &-name{
        display: flex;
        align-items: center;
        .fa{
            font-size: 30px;
        }
        .names{
            margin-left: 7px;
            p{
                color: $grey-color;
                font-size: 12px;
            }
            h4{
                font-size: 14px;
                font-weight: normal;
                margin-top: 7px;
            }
        }
    }

    &-notification{
        .fa{
            font-size: 20px;
        }
    }

    
}

.hero{
    @include main-container;   
    width: 90%;
    margin-top: 100px;
    margin-bottom: 60px;

    &Inner{
        display: flex;
        flex-direction: column;
        border: 1px solid $primary-color;
        padding:20px;
        border-radius: 7px;
        background: linear-gradient(90deg, #209831 , $primary-color);
        color: #fff;
        overflow: hidden;
        position: relative;
        .balance{
            display: flex;
            justify-content: space-between;
            margin-bottom: 35px;
            
            z-index: 2;
            h4{
                font-weight: normal;
            }
            .fa{
                font-size: 16px;

            }
        }
        .amount{
            display: flex;
            justify-content: space-between;
            h3{
                font-size: 23px;
                font-weight: normal;
            }
            .fa{
                font-size: 16px;
                

            }
        }
        .circle{
            background: #008A0082;
            width:190px;
            height:80px;
            position:absolute;
            right:-15px;
            top:-35px;
            border-radius: 50%;
            transform: rotateZ(20deg) scale(1.2);
        }
    }
}

.subhero{
    display: flex;
    @include main-container;

    a{
        text-decoration: none;
        margin: 0;
    }
    .fund{
        background: $fund-color;
        height: 125px;
        width: 205px;
        border-radius: 7px;
        .img{
            width:50px;
            height: 50px;
            background: lighten($fund-color, 10%);
            border-radius: 50%;
            padding-top:14px;
            padding-left: 14px;
            margin: 20px auto ;
            img{
                width:60%
            }
        }
        h4{
            color:#fff;
            text-align: center;
            font-weight: normal;
        }

    }
    .send{
        @extend .fund;
        margin-left: 20px;
        background: $send-color;
        .img{
            background: lighten($send-color, 10%);
        }
    }
}


body{
    position: relative;
    height:100vh;
}
.footer{
    position:absolute;
    bottom: 0;
    width:100%;
    box-shadow:0 0 20px 0 rgba(0, 0, 0, 0.1);

    a{
        text-decoration: none;
    }
    &Inner{
        display:flex;
        justify-content: space-between;
        width:90%;
        margin:0 auto;
        
        
        &-items{
            padding: 20px 15px;

            .fa{
                text-align: center;
                padding-left: 10px;
                font-size: 25px;
                margin-bottom: 10px;
                color:$grey-color;
            }
            p{
                color:$grey-color;
                .active{
                        color: $primary-color;
                }
            }
        }
    }
}

.recenth{
    width:80%;
    margin:50px auto 0;
    font-size: 13px;
}